<input class='calender-size' type="hidden" value=<%= @leave_id %>>
<h4> Pending Leave Applications </h4>
<table>
  <tr>
    <th>Employee's Email</th>
    <th>Dates</th>
    <th>Total Days</th>
    <th>Balance Leave Days</th>
    <th>Category of Leave</th>
    <th>Approval</th>
  </tr>
  <% @count = 1 %>
  <% @unapprove_leave.each do |f| %>
  <tr>
    <td> <%= f.user.email %> </td>
    <td>
      <p style="font-size: 12px; font-style:italic; width: 200px;"> Click Below to View Dates &#128467
         <input class="flatpickr-<%= @count %> flatpickr-input active"
         type="text" placeholder="View Dates" readonly="readonly" style="font-size: 12px; font-style:italic;"></input></p>
      <input type="hidden" value="<%= f.leave_date %>" id=<%= @count %>>
    </td>
    <td> <%= f.leave_date.split(',').count %> </td>
    <td> <%= f.user.balace %> </td>
    <td> <%= f.category %> </td>
    <td>
      <%= button_to 'Approve', approval_index_path, params: { 'approval' => 'approve', 'leave_id' => f.id}, method: :post, class: 'approve-btn' %>
      <%= button_to 'Decline', approval_index_path, params: { 'approval' => 'decline', 'leave_id' => f.id}, method: :post, class: 'decline-btn' %>
    </td>
  </tr>
  <% @count = @count + 1 %>
  <% end %>
</table>
