<%= "Hello #{current_user.email} ! You have #{current_user.balace} leave days remaining" %>

<%= form_for @leave do |f| %>
  <p style='font-style: italic; font-weight: bold;'>Leave date </p>
  <%= f.text_field :leave_date , placeholder: "Select Date..", readonly: "readonly", class: "flatpickr flatpickr-input active"%>

 <%= f.select(:category, ['Annual Leave', 'Unpaid Leave', 'Marriage Leave', 'Sick Leave', 'Hospitalization Leave', 'Maternity Leave', 'Compassionate Leave'], {}, { :class => 'my_style_class' }) %>
  <br> 
  <%= f.submit 'Submit' , class: 'btn btn-primary'%>
<% end %>

<br> 

<% if current_user.role == 'admin' and @unapprove_leave.length != 0 %>
  <table style="width:100%">
    <tr>
      <th>Employee's Email</th>
      <th>Requested Leave Date</th>
      <th>Balance Leave Days</th> 
      <th>Category of Leave</th>
      <th>Approval</th>
    </tr>
    <% @unapprove_leave.each do |f| %>
      <tr>
        <td> <%= f.user.email %> </td>
        <td> <%= f.leave_date %> </td>
        <td> <%= f.user.balace %> </td>
        <td> <%= f.category %> </td>
      <td>
       <%= button_to 'Approve', leave_applications_approval_path, params: { 'approval' => 'approve', 'leave_id' => f.id}, method: :get %> <%= button_to 'Decline', leave_applications_approval_path, params: { 'approval' => 'decline', 'leave_id' => f.id}, method: :get %> 
      </td>
      </tr>
    <% end %>
  </table>
<% end %>

