<div>
  <div class="request-container">
    <h2><%= "Hello #{current_user.email} ! "%> <br> <%="You have #{current_user.balace} leave days remaining." %></h2>
    <br>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <p style='font-style: italic; font-weight: bold;'>Leave request </p>
        </h4>
        <%= form_for @leave do |f| %>
          <%= f.text_field :leave_date , placeholder: "Select Date..", readonly: "readonly", class: "flatpickr flatpickr-input active"%>
          <%= f.select(:category, ['Annual Leave', 'Unpaid Leave', 'Half Day Leave (AM)',
                'Half Day Leave (PM)', 'Marriage Leave', 'Sick Leave', 'Hospitalization Leave',
                'Maternity Leave', 'Compassionate Leave'], {}, { :class => 'my_style_class' }) %>
          <br>
          <br>
          <%= f.label :description %>
          <br>
          <%= f.text_area :description, rows: 5, cols: 50, class: "reason-text-field", placeholder: " The cake is a lie. " %>
          <br>
          <div>
            <div style=" float: left;">
              <%= f.submit 'Submit', class: 'btn btn-primary'%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <%= approval_table(@unapprove_leave) %>
  </div>
</div>
